.form {
    width: 700px;
    background:
    radial-gradient(circle farthest-side at 0% 50%, #3e7eaf 23.5%, rgba(240, 166, 17, 0) 0) 21px 30px,
    radial-gradient(circle farthest-side at 0% 50%, #709fbe 24%, rgba(240, 166, 17, 0) 0) 19px 30px,
    linear-gradient(#3e7eaf 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #3e7eaf 0) 0 0,
    linear-gradient(150deg, #3e7eaf 24%, #709fbe 0, #709fbe 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #709fbe 0, #709fbe 76%, #3e7eaf 0) 0 0,
    linear-gradient(30deg, #3e7eaf 24%, #709fbe 0, #709fbe 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #709fbe 0, #709fbe 76%, #3e7eaf 0) 0 0,
    linear-gradient(90deg, #709fbe 2%, #3e7eaf 0, #3e7eaf 98%, #709fbe 0%) 0 0 #3e7eaf;
    background-size: 40px 60px;
  }